<!DOCTYPE html>
<html>

<head>
  <title>evo</title>
<% include partion/_head.html %>
</head>

<body>
  <div class="page-group">
    <div class="page page-current" id="page-center">
      <div class="grad-225deg">
        <header class="bar bar-nav ">
          <h1 class="title">个人中心</h1>
        </header>

        <div class="list-block media-list">
          <ul>
            <li>
              <div class="item-content">
                <div class="item-media">
                  <!-- <img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg"
                    > -->
                  <i class="iconfont">&#xe64a;</i>
                </div>
                <div class="item-inner">
                  <div class="item-title-row">
                    <div class="item-title">
                      <div>ID:21312321</div>
                      <div><span class="pull-left">等级：</span>
                      <ul class="star-row star-row-sm">
                        <li class="on">
                          <i class="iconfont">&#xe616;</i>
                        </li>
                        <li class="on">
                          <i class="iconfont">&#xe616;</i>
                        </li>
                        
                      </ul></div>
                    </div>
                    <div class="item-after">
                      <div>账户余额</div>
                      <div  class=" text-align-center font-1"><span class="color-danger ye">99</span><span class="sub">元</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>

      </div>
      <nav class="bar bar-tab">
        <a class="tab-item" href="index.html">
          <span class="icon iconfont">&#xe602;</span>
          <span class="tab-label">接单中心</span>
        </a>
        <a class="tab-item" href="list.html">
          <span class="icon iconfont">&#xe6c8;</span>
          <span class="tab-label">订单列表</span>
        </a>
        <a class="tab-item" href="promote.html">
          <span class="icon iconfont">&#xe603;</span>
          <span class="tab-label">推广中心</span>
        </a>
        <a class="tab-item active" href="center.html">
          <span class="icon iconfont">&#xe61e;</span>
          <span class="tab-label">个人中心</span>
        </a>
      
      </nav>
      <div class="content">
        <div class="content-center">
          <div class="list-block no-margin-top">
            <ul>
              <li >
                <a href="mingxi.html" class="item-content item-link">
                  <div class="item-media">
                    <i class="icon iconfont color-primary">&#xe611;</i>
                  </div>
                  <div class="item-inner">
                    <div class="item-title">金额明细</div>
                  </div>
                </a>
              </li>
              <li>
                <a href="gonggao-list.html" class="item-content item-link">
                  <div class="item-media">
                    <i class="iconfont color-warning">&#xe6e2;</i>
                  </div>
                  <div class="item-inner">
                    <div class="item-title">系统公告</div>
                  </div>
                </a>
              </li>
              
            </ul>
          </div>
          <div class="list-block">
              <ul>
              <li>
                <a href="" class="item-content item-link">
                  <div class="item-media">
                    <i class="iconfont color-success">&#xe609;</i>
                  </div>
                  <div class="item-inner">
                    <div class="item-title">联系客服</div>
                    <div class="item-after">QQ:502435194</div>
                  </div>
                </a>
              </li>
              <li>
                <a href="" class="item-content item-link">
                  <div class="item-media">
                    <i class="iconfont color-danger">&#xe619;</i>
                  </div>
                  <div class="item-inner">
                    <div class="item-title">退出登录</div>
                  </div>
                </a>
              </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


<% include partion/_script.html %>
</body>

</html>