<!DOCTYPE html>
<html>

<head>
  <title>公告-evo</title>
  <% include partion/_head.html %>
</head>

<body>
  <div class="page-group">
    <div class="page page-current" id="page-gonggao">
      <header class="bar bar-nav grad">
        <a class="icon icon-left pull-left back" href="javascript:history.back();"></a>
        <h1 class="title">公告</h1>
      </header>

      <div class="content">
        <div class="content-gonggao">
          <h3 class="text-align-center no-margin-bottom">公告标题</h3>
          <div class="text-align-center color-gray"><small>2018-05-05 05:06:09</small></div>
          
          <div class="content-padded">
            <p>邀请代理功能已经上线，邀请方法：1：登陆平台 2：个人中心 3：进入代理数据 4：生成邀请链接。注意成功率，成功率过低，低于45%将不可提现，未做任务却提交成功，3次以上封号处理。</p>
            <p>邀请代理功能已经上线，邀请方法：1：登陆平台 2：个人中心 3：进入代理数据 4：生成邀请链接。注意成功率，成功率过低，低于45%将不可提现，未做任务却提交成功，3次以上封号处理。</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <% include partion/_script.html %>
    <script>

    </script>
</body>

</html>