<!DOCTYPE html>
<html>

<head>
  <title>所有公告-evo</title>
  <% include partion/_head.html %>
</head>

<body>
  <div class="page-group">
    <div class="page page-current" id="page-gonggao-list">
      <header class="bar bar-nav grad">
        <a class="icon icon-left pull-left back" href="javascript:history.back();"></a>
        <h1 class="title">所有公告</h1>
      </header>

      <div class="content">
        <div class="content-gonggao-list">
          <div class="list-block media-list margin-top">
            <ul>
              <li>
                <a href="gonggao.html" class="item-link item-content">
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">公告标题</div>
                    </div>
                    <div class="item-subtitle">2018-07-05</div>
                  </div>
                </a>
              </li>
              <li>
                <a href="gonggao.html" class="item-link item-content">
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">公告标题</div>
                    </div>
                    <div class="item-subtitle">2018-07-05</div>
                  </div>
                </a>
              </li>
              <li>
                <a href="gonggao.html" class="item-link item-content">
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">公告标题很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长</div>
                    </div>
                    <div class="item-subtitle">2018-07-05</div>
                  </div>
                </a>
              </li>
              <li>
                <a href="gonggao.html" class="item-link item-content">
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">公告标题</div>
                    </div>
                    <div class="item-subtitle">2018-07-05</div>
                  </div>
                </a>
              </li>
              <li>
                <a href="gonggao.html" class="item-link item-content">
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">公告标题</div>
                    </div>
                    <div class="item-subtitle">2018-07-05</div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
  </div>


  <% include partion/_script.html %>
    <script>

    </script>
</body>

</html>