<!DOCTYPE html>
<html>

<head>
  <title>evo</title>
<% include partion/_head.html %>
<link rel="stylesheet" href="../css/accordion.css">
</head>

<body>
  <div class="page-group">
    <div class="page page-current" id="page-list">
      <header class="bar bar-nav grad">
        <h1 class="title">订单列表</h1>
      </header>
      <nav class="bar bar-tab">
        <a class="tab-item" href="index.html">
          <span class="icon iconfont">&#xe602;</span>
          <span class="tab-label">接单中心</span>
        </a>
        <a class="tab-item active" href="list.html">
          <span class="icon iconfont">&#xe6c8;</span>
          <span class="tab-label">订单列表</span>
        </a>
        <a class="tab-item" href="promote.html">
          <span class="icon iconfont">&#xe603;</span>
          <span class="tab-label">推广中心</span>
        </a>
        <a class="tab-item" href="center.html">
          <span class="icon iconfont">&#xe61e;</span>
          <span class="tab-label">个人中心</span>
        </a>
      </nav>
      <div class="content">
        <div class="content-list">

          <div class="buttons-tab">
            <a href="#tab1" class="tab-link active button">正在进行</a>
            <a href="#tab2" class="tab-link button">申诉列表</a>
            <a href="#tab3" class="tab-link button">历史订单</a>
          </div>

          <div class="tabs">
            <div id="tab1" class="tab active">
                <div class="list-block task-list">
                  <ul>
                    
                    <li class="accordion-item">
                      <div class="item-content  item-link">
                        <div class="item-inner">
                          <div class="item-title">订单号：98797</div>
                          <div class="item-after"><span class="color-danger">22.5元</span></div>
                        </div>
                      </div>
                      <div class="accordion-item-content">
                        <div class="content-block ">
                        <div class="row-flex">
                          <div class="">
                            <div> 任务要求：辅助者帐号必须在北京地区</div>
                            <div>类型：非好友解封填资料</div>
                            <div class="dj color-gray">
                              <span class="pull-left">可接收等级：</span>
                              <ul class="star-row star-row-sm">
                                <li class="on">
                                  <i class="iconfont">&#xe616;</i>
                                </li>
                                
                              </ul>
                            </div>
                          </div>
                          <div class="col-33 qrcode">
                            <img src="http://tech.cnr.cn/techgd/20141223/W020141223386402989617.gif" alt="">
                          </div>
                        </div>
                        </div>
                        
                      </div>
                    </li>
                    <li class="accordion-item">
                      <div class="item-content  item-link">
                        
                        <div class="item-inner">
                          <div class="item-title">订单号：98797</div>
                          <div class="item-after">
                            <span class="color-danger">22.5元</span>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item-content">
                        <div class="content-block ">
                          <div class="row-flex">
                            <div class="">
                              <div> 任务要求：辅助者帐号必须在北京地区</div>
                              <div>类型：非好友解封填资料</div>
                              <div class="dj color-gray">
                                <span class="pull-left">可接收等级：</span>
                                <ul class="star-row star-row-sm">
                                  <li class="on">
                                    <i class="iconfont">&#xe616;</i>
                                  </li>
                                  <li class="on">
                                    <i class="iconfont">&#xe616;</i>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-33 qrcode">
                              <img src="http://tech.cnr.cn/techgd/20141223/W020141223386402989617.gif" alt="">
                            </div>
                          </div>
                          
                    
                        </div>
                    
                      </div>
                    </li>
                  </ul>
                </div>
            </div>
            <div id="tab2" class="tab">
              <div class="list-block media-list task-list">
                <ul>
                  <li>
                    <div class=" item-content">
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title">
                            <div>ID:89ey32984923493</div>
                          </div>
                          <div class="item-after">
                            <div>
                              <span class="color-danger">拒绝</span>
                            </div>
                          </div>
                        </div>
              
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class=" item-content">
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title">
                            <div>ID:89ey32984923493</div>
                          </div>
                          <div class="item-after">
                            <div>
                              <span class="color-success">通过</span>
                            </div>
                          </div>
                        </div>
              
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class=" item-content">
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title">
                            <div>ID:89ey32984923493</div>
              
                          </div>
                          <div class="item-after">
                            <div>
                              <span class="color-warning">审核中</span>
                            </div>
                          </div>
                        </div>
              
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class=" item-content">
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title">
                            <div>ID:89ey32984923493</div>
                  
                          </div>
                          <div class="item-after">
                            <div>
                              <span class="color-primary">其他</span>
                            </div>
                          </div>
                        </div>
                  
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div id="tab3" class="tab">
                <div class="list-block media-list task-list">
                  <ul>
                    <li>
                      <div class=" item-content">
                        <div class="item-inner">
                          <div class="item-title-row">
                            <div class="item-title">
                              <div>ID:89ey32984923493</div>
                            </div>
                            <div class="item-after">
                              <div><span class="color-danger">22.5元</span></div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </li>
                      <li>
                        <div class=" item-content">
                          <div class="item-inner">
                            <div class="item-title-row">
                              <div class="item-title">
                                <div>ID:89ey32984923493</div>
                              </div>
                              <div class="item-after">
                                <div>
                                  <span class="color-danger ">22.5元</span>
                                </div>
                              </div>
                            </div>
                      
                          </div>
                        </div>
                      </li>
                        <li>
                          <div class=" item-content">
                            <div class="item-inner">
                              <div class="item-title-row">
                                <div class="item-title">
                                  <div>ID:89ey32984923493</div>
                        
                                </div>
                                <div class="item-after">
                                  <div>
                                    <span class="color-danger">22.5元</span>
                                  </div>
                                </div>
                              </div>
                        
                            </div>
                          </div>
                        </li>
                  </ul>
                </div>
            </div>
           
            
          </div>




        </div>
      </div>
    </div>
  </div>


<% include partion/_script.html %>
<script src="../js/accordion.js">
</script>
</body>

</html>