<!DOCTYPE html>
<html>

<head>
  <title>明细-evo</title>
<% include partion/_head.html %>
</head>

<body>
  <div class="page-group">
    <div class="page page-current" id="page-mingxi">
      <header class="bar bar-nav grad">
        <a class="icon icon-left pull-left back" href="javascript:history.back();"></a>
        <h1 class="title">明细</h1>
      </header>
     
      <div class="content">
        <div class="content-mingxi">

          <div class="list-block mingxi-list margin-top">
            <ul>
              <li class="item-content">
                <div class="item-inner">
                  <div class="item-title">
                    <div>充值</div>
                    <div>
                      <small>余额：200605</small>
                    </div>
                  </div>
                  <div class="item-after">
                    <div class="color-gray">
                      <small>2018-07-05</small>
                    </div>
                    <div>
                      <strong>+18000</strong>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item-content">
                <div class="item-inner">
                  <div class="item-title">
                    <div>充值</div>
                    <div><small>余额：606.80</small></div>
                  </div>
                  <div class="item-after">
                    <div class="color-gray"><small>2018-07-05</small></div>
                    <div><strong>+1.80</strong></div>
                  </div>
                </div>
              </li>
              <li class="item-content">
                <div class="item-inner">
                  <div class="item-title">
                    <div>提现</div>
                    <div>
                      <small>余额：505</small>
                    </div>
                  </div>
                  <div class="item-after">
                    <div class="color-gray">
                      <small>2018-07-05</small>
                    </div>
                    <div>
                      <strong>-180</strong>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item-content">
                <div class="item-inner">
                  <div class="item-title">
                    <div>下单</div>
                    <div>
                      <small>余额：505</small>
                    </div>
                  </div>
                  <div class="item-after">
                    <div class="color-gray">
                      <small>2018-07-05</small>
                    </div>
                    <div>
                      <strong>-180</strong>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item-content">
                <div class="item-inner">
                  <div class="item-title">
                    <div>分成</div>
                    <div>
                      <small>余额：505</small>
                    </div>
                  </div>
                  <div class="item-after">
                    <div class="color-gray">
                      <small>2018-07-05</small>
                    </div>
                    <div>
                      <strong>+180</strong>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item-content">
                <div class="item-inner">
                  <div class="item-title">
                    <div>退款</div>
                    <div>
                      <small>余额：505</small>
                    </div>
                  </div>
                  <div class="item-after">
                    <div class="color-gray">
                      <small>2018-07-05</small>
                    </div>
                    <div>
                      <strong>+180</strong>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item-content">
                <div class="item-inner">
                  <div class="item-title">
                    <div>拒绝提现</div>
                    <div>
                      <small>余额：505</small>
                    </div>
                  </div>
                  <div class="item-after">
                    <div class="color-gray">
                      <small>2018-07-05</small>
                    </div>
                    <div>
                      <strong>+180</strong>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


<% include partion/_script.html %>
<script>
  
</script>
</body>

</html>