<!DOCTYPE html>
<html>

<head>
    <title>evo</title>
    <% include partion/_head.html %>
</head>

<body>
<div class="page-group">
    <div class="page page-current " id="page-regist">
        <header class="bar bar-nav grad">
            <a class="icon icon-left pull-left back" href="javascript:history.back();"></a>
            <h1 class="title">注册</h1>
        </header>
        <div class="content content-regist">
            <div class="list-block no-margin-top">
                <ul>
                    <!-- Text inputs -->
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon iconfont bg-primary">&#xe827;</i></div>
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="text" placeholder="请输入你的手机号">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon iconfont" style="background: #2fc19a;">&#xe62a;</i></div>
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="password" placeholder="请输出的你的登录密码">
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon iconfont bg-success">&#xe612;</i></div>
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="password" placeholder="再次输入你的登录密码">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon iconfont " style="background: #07a0f8;">&#xe615;</i></div>
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="text" placeholder="输入支付宝账号才能提现">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon iconfont " style="background: #07a0f8;">&#xe615;</i></div>
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="text" placeholder="请输入身份证上的真实名字">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon iconfont bg-danger"  >&#xe745;</i></div>
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="text" placeholder="请输入您的邀请码">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon iconfont" style="background: #2bbffd;" >&#xe642;</i></div>
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="text" placeholder="请输入您的QQ号">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-80 btn-center">
                        <a id="J_login" class="color-primary button button-big button-fill button-round ">注册</a>
                    </div>
                </div>

            </div>



        </div>
    </div>
</div>

<% include partion/_script.html %>
</body>

</html>