<!DOCTYPE html>
<html>

<head>
  <title>evo</title>
<% include partion/_head.html %>
</head>

<body>
  <div class="page-group">
    <div class="page page-current" id="page-tixian">
      <header class="bar bar-nav grad">
        <a class="icon icon-left pull-left back" href="javascript:history.back();"></a>
        <h1 class="title">提现</h1>
      </header>
     
      <div class="content">
        <div class="content-tixian">

          <div class="card">
            <div class="card-content">
              <div class="list-block">
                <ul>
                  <li>
                    <a href="set-account.html" class="item-content item-link">
                    <div class="item-media">
                      <i class="icon iconfont color-primary">&#xe615;</i>
                    </div>
                    <div class="item-inner">
                      <div class="item-title">到支付宝</div>
                      <div class="item-after">6731273123@qq.com</div>
                    </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          

          <div class="card">
            <div class="card-content">
              <div class="card-content-inner">
                  <p><small>提现金额</small></p>
                  <div class="list-block">
                    <ul>
                      <li>
                        <div class="item-content">
                          <div class="item-media">
                            <i class="iconfont color-primary">&#xe608;</i>
                          </div>
                          <div class="item-inner">
                            <div class="item-input font-1">
                              <input type="number" id="input" autofocus="autofocus" placeholder="请输入金额" >
                            </div>
                          </div>
                        </div>
                       
                      </li>
                    </ul>
                   
                    
                  </div>
                   
              </div>
            </div>
            <div class="card-footer">
              <div>
                最小可提现<span class="color-danger">10</span>元
              </div>
              
            </div>
          </div>

        <div class="content-block">
          <p>
            <button style="width:100%;" disabled="disabled" class="button button-fill button-big button-round disabled" id="subTx">提现</button>
          </p>

        </div>
         

        </div>
      </div>
    </div>
  </div>


<% include partion/_script.html %>
<script>
  
</script>
</body>

</html>